
<div class="center jumbotron">
  <%= link_to image_tag("capitalone-logo-white.png", alt: "Capital One Logo", size: "329x128"),
            "https://www.capitalone.com/" %>
  <h1>Welcome to the Customer Service Portal</h1>

  <h2>
    This is the home page for all your customer service needs
  </h2>

  <%= link_to "Sign Up Now!", customer_signup_path, class: "btn btn-lg btn-primary" %>
</div>
