<div class="refine-label">Refine by</div>
<%= link_to({:filter => '3'}) do %>
  <div class="item">All Time</div>
<% end %>

<%= link_to({:filter => '0'}) do %>
  <div class="item">Past 24 Hours</div>
<% end %>

<%= link_to({:filter => '1'}) do %>
  <div class="item">Past 7 Days</div>
<% end %>

<%= link_to({:filter => '2'}) do %>
  <div class="item">Past 30 Days</div>
<% end %>
