<% provide(:title, @employee.first_name) %>
<div class="row">
  <aside class="col-md-2">
      <div class="spacer20"></div>
      <h3>Create Ticket</h3>
      <section class="micropost_form">
        <%= render 'shared/ticket_form' %>
      </section>
  </aside>
</div>