<%= form_for(@ticket) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :title, placeholder: "Compose new ticket..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>