<% provide(:title, @customer.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <!--<section class="user_info">
        <%= render 'shared/customer_info' %>
      </section>-->
      <section class="micropost_form">
        <h3>What's Your Question?</h3>
        <div class="spacer20"></div>
        <%= render 'shared/ticket_form' %>
      </section>
  </aside>
  <div class="col-md-8">
    <% if @customer.tickets.any? %>
      <h3>Tickets (<%= @customer.tickets.count %>)</h3>
            <%= render 'shared/ticket_list' %>

    <% end %>
  </div>
</div>