<% provide(:title, @customer.first_name) %>
<script>
    $(document).ready(function(){
      $("#toggler").hide();

      $("#create-toggle").click(function(){
        $("#toggler").toggle('slide');
        return false;
      });
    });
</script>
<div class="row">
  <div class="col-md-12">
    <a href="#" id="create-toggle"><div class="create-ticket">Create Ticket</div></a>
    <h3 class="title-left">Tickets (<%= @customer.tickets.count %>)</h3>
    <div class="clear-float"></div>
  </div>
  <aside class="col-md-12">
      <div id="toggler">
        <div class="spacer20"></div>
        <hr>
        <h3>What's your Question?</h3>
        <section class="micropost_form">
          <%= render 'shared/ticket_form' %>
        </section>
      </div>
  </aside>
  <div class="col-md-12">
    <% if @customer.tickets.any? %>  
            <%= render 'shared/profile_ticket_list' %>
    <% end %>
  </div>
  
</div>