// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-comment{
	float: right;
	width: 100px;
}

.delete-comment-button{
	width: 75px;
	float: right;
}

.new-comment-field{
	-webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    border: 1px solid #848484; 
    outline:0; 
    text-wrap: normal;
    max-height:33px;
    width: 90%;
    float: left;
}

.comment-box{
	margin: 0 0;
}

.customer-comment-li{
	background: #f6f7f8 !important;
	padding: 5px 20px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    border: 0px !important;
}

.employee-comment-li{
	background: #f6f7f8 !important;
	padding: 5px 20px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    border: 0px !important;
}

.comment-name-employee{
	padding: 0;
	margin: 0;
	font-weight: bold;
	float: left;
}

.comment-name-customer{
  padding: 0;
  margin: 0;
  font-weight: bold;
  float: left;
  color: #105fc3;
}

.comment-time{
	float: right;
	color: #9d9d9d;
    padding:0;
    margin: 0;
}

.comment-list {
  list-style: none;
  padding: 0;
  margin: 0;
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .comment-container{
  	width: 100%;
  	padding: 0;
  	margin: 0;
  }
  .comment-content {
    float: left;
    padding: 0;
    margin: 0;
  }
  .timestamp {
    color: #9d9d9d;
    padding:0;
    margin: 0;
    float: right;
  }
}