// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.empl-filter-bar{
	.item{
		height: 2em;
		line-height: 1.9em;
		display: block;
		margin: 0 0.2%;
		color:#174877;
		padding: 1px 15px;
		margin: 2px 0;
		border-radius: 5px;
		text-decoration: none;
	}
	.item:hover{
		color:#002e5a;
		background-color: #e8e8e8;
	}
	a:hover{
		text-decoration: none;
	}
	.refine-label{
		margin: 10px 0 5px 5px;
		text-align: left;
		font-size:1.5em;
		font-weight: 500;
  		color: #999999;
	}
	.create-ticket-e{
		width: 120px;
		margin: 25px 0 10px 0;
		padding: 5px 10px;
		color: #FFFFFF;
		text-align: center;
		font-weight: 450;
		font-size: 1.1em;
		background: #002e5a;
		border: 1px solid #f3f3f3;
		border-radius: 10px;
	}
}
.pop-up-container{
	position: fixed;
	z-index: 99;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	.pop-up{
		position: relative;
		margin: auto;
		padding: 20px;
		border: 1px solid #e8e8e8;
		border-radius: 10px;
		background: #FFFFFF;
	}
}

.order-drop{
	width: 110px;
	height: 30px;
	float: right;
	margin: 0 20px 0 0;
}