// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.empl-filter-bar{
	.item{
		height: 2em;
		line-height: 1.9em;
		display: block;
		margin: 0 0.2%;
		color:#174877;
		padding: 1px 10px;
		margin: 2px 0;
		border-radius: 5px;
	}
	.item:hover{
		color:#002e5a;
		background-color: #e8e8e8;
	}
	.refine-label{
		margin: 20px 0 10px 0;
		text-align: left;
		font-size:1.5em;
		font-weight: 500;
  		color: #999999;
	}
}