// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.div-align-right{
	float: right;
  margin: 0 20px;
}

.comment-box-padding{
  margin: 10px 20px;
}

.clear-float{
	clear: both;
}

.page-title{
	margin: 20px 0 5px 10px;
}

.ticket-list {
  list-style: none;
  padding: 20px 0 0 0;
  li {
    padding: 10px 0px;
    margin: 10px 5px;
    border-radius: 2px;
    background:#FFFFFF;
    border: 1px solid #dfe0e4;
  }
  .ticket-info{
    float: left;
    display: block;
    width: 70%;
    margin: 0 20px 5px 20px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #9d9d9d;
    display: block;
    padding:0;
    margin: 0;
    width: 70%;
  }
}

.spacer20{
	height: 20px;
}

.new-ticket-field{
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px; 
    border: 1px solid #848484; 
    outline:0; 
    text-wrap: normal;
    max-height:40px;
    resize: none;
}

.new-ticket-customer-id-field{
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border: 1px solid #848484;
    max-height: 25px;
    resize: none;
}

.comment-attachment{
  color: #848484;
  font-size: 1em;
  padding: 15px 0 0 0;
  border-bottom: 1px solid #848484;
}

hr{
  color: #333333;             //for IE
  border-color: #333333;      //for chrome and firefox
  background-color: #333333;  //for safari
}
