<footer class="footer">
  <small>
    Penn State Senior Design Project
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.capitalone.com/">News</a></li>
    </ul>
  </nav>
</footer>